<h1 class="mt-4">Mon annonces</h1>
<a href="javascript:history.go(-1);" class="btn btn-secondary">retour</a>
<p>Categorie : <%= annonce.Categorie %></p>
<p>Sous - Categorie : <%= annonce.SousCategorie %></p>
<p>About : <%= annonce.about %></p>
