<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%=user.name %></p> 
<form action="/users/ajout" method="POST">
    <div class="form-group">
      <label for="Categorie">Catégorie:</label>
      <input
        type="Categorie"
        id="Categorie"
        name="Categorie"
        class="form-control"
        placeholder="Enter Categorie"
      />
    </div>
    <div class="form-group">
      <label for="sousCategorie">Sous-Catégorie:</label>
      <input
        type="sousCategorie"
        id="sousCategorie"
        name="sousCategorie"
        class="form-control"
        placeholder="Enter sous-Categorie"
      />
    </div>
    <div class="form-group">
      <label for="About">About:</label>
      <input
        type="About"
        id="About"
        name="About"
        class="form-control"
        placeholder="Create About"
      />
    </div>
     <div class="form-group">
            <label for="About">Entrez l'Url d'une image représentative:</label>
            <input
              type="img"
              id="Image"
              name="Image"
              class="form-control"
              placeholder="Veuillez insérer une url."
            />
          </div>
    <button type="submit" class="btn btn-primary btn-block">
      Ajout
    </button>
  </form>
  <br></br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/users/annonces" class="btn btn-primary">Mes annonnces</a>
<a href="/users/calendar" class="btn btn-warning">Mes rendez-vous</a>
<a href="/users/annonces" class="btn btn-info">Mes messages</a>
