<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch2">
  <label class="custom-control-label" for="customSwitch2">Client / Presta</label>
</div>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <p class="lead mt-4">
            Je suis un <a href="/users/LClient">client.</a>
          </p>
      <div class="card card-body text-center">
        <h1><i class="fas fa-bullhorn"></i></h1>
        <p>Creation de votre compte Presta ou connexion</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Création</a
        >
        <a href="/users/loggin" class="btn btn-secondary btn-block">Connexion</a>
      </div>
    </div>
  </div>